# E2E test credentials (demo seeder defaults)
E2E_SAHODAYA_URL=http://malappuramsahodaya.test:8000
E2E_SUPERADMIN_URL=http://superadmin.test:8000

E2E_SUPERADMIN_EMAIL=admin@sahodaya.test
E2E_SUPERADMIN_PASSWORD=password

E2E_SAHODAYA_EMAIL=sahodaya@malappuram.test
E2E_SAHODAYA_PASSWORD=password

E2E_SCHOOL_EMAIL=admin@amu-school.test
E2E_SCHOOL_PASSWORD=password
