@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
body{ margin:0; padding:0; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: .9em; line-height: 1.7em }
h1, h2, h3, h4{padding: 10px 0px; font-weight: 400; line-height: 1.7em}
/*.container h1{text-align: left}*/
.txt-center{text-align: center}
p{padding: 10px 0px; font-weight: bold; }
#wrappper{margin:0; padding:0; position:relative}
header{ padding:1% 10% 0% 10% ; background: #fff; color:#333; text-align: justify; border-bottom: solid 1px #9a9a9a}
header div, header nav{display:inline-block; text-align: justify; vertical-align: middle }
/*header div span{text-align: center; display:block; background: #41cdce; color:#333; border-radius: 12px; padding:5px 10px; font-size: 16px}*/
header::after{content:''; display:inline-block; width:100%;}
header h1{font-size: 24px; color: #333}
.rang-wrap{display:block; }
.rang-wrap p{display: block; color: #000}
.rang-wrap h1{font-size: 30px; color: #fff; padding: 0px; margin: 0}
.txt-white{color: #fff !important}
.txt-black{color: #000 !important}
.txt-18{font-size: 18px}
.txt-24{font-size: 24px}
.txt-30{font-size: 30px}
.txt-42{font-size: 42px}
.caps{text-transform: uppercase; line-height: 1.8em}
.alert{font-weight: bold; color: #de3e13; font-size: 20px}
.bold{font-weight: bold}
.italic{font-style: italic}
.mrgn-left{margin-left: 50px}
.red{color: #db0c32}
.blue{color: #0a86a7}
.logo{display: block; height: 100px; background: url(../images/logo.png) no-repeat top center;}
nav::before{content: ''; width: 100%}
nav{display:inline-block; text-align: justify; font-family: Arial,sans-serif;}
nav ul {list-style:none; padding:0; margin:0;display:block; text-align:center;}
nav ul li{list-style:none; display: inline-block}
nav ul li a{display:block; padding:10px; text-decoration:none; text-transform:uppercase; color:#333; font:12px bold;-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out; z-index: 100}
nav ul li a:hover{color: #0a86a7}
.menu{display: block; position: relative; margin: 0 0 20px; padding: 0 0 20px; border-bottom: solid 0 #ccc!important ; }
.menu ul{list-style: none; margin: 0; padding: 0}
.menu ul li{display: inline-block; }
.menu ul li a:before{margin: 0; padding: 0}
.menu ul li:after{content: "/"; display: inline-block;  padding: 0 7px}
.menu ul li a{text-decoration: none; color: #fff; display: inline-block;font-weight: bold; padding: 5px 5px;text-transform: uppercase;}
.menu ul li a:hover{color: #db0c32; background:#000}
.container{padding:2% 10%; display:block; text-align: justify}
.row{display: block; position: relative}
.col3{display: block; width: 100%; float: left}
.col2{display:block; width:66.66%; float: left; }
.col1{display:block; width: 33.33%; float: left;}
.container:after{content:'';display: block; clear: both}
.col-equal{display: block; width: 50%; float: left}
footer{padding:2% 10%; background:rgba(0,0,0,.05); }
.white{background: #fff}
.violet{background: #aa94de}
.clear{clear: both}
.block{display:block; position: relative}
.bg{background:url('http://www.capitaldistrictsahodaya.in/images/bg2.jpg') no-repeat top right fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: 100%;}
.bg2{background:url('http://www.capitaldistrictsahodaya.in/images/painting.jpg') no-repeat top right fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: 100%;}
.bg-abt{background:url('../images/about.jpg') no-repeat center center fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; color: #fff !important; font-weight: normal !important}
/*28/02/2015*/
.head-caption{padding: 10% 0%; color: #fff }
.head-caption p{ background: rgba(0, 0, 0, 0.58); font-size: 1.4em; padding: 1em; text-align: center; line-height: 1.7em; font-weight: 300; letter-spacing: normal; border-radius: 20px 10px }
.head-caption p span{color: #aa94de; display: block; text-align: center}
.inline-block{display: inline-block}
.col-width{min-width: 400px}
.pimg img{max-width: 500px; padding: 5px; border: dotted 1px #808080}
.largeimg img{width: 100%;padding: 5px; border: dotted 1px #808080}
footer a{text-decoration: none; color: #de3e13}
footer a:hover{color: #aa94de}
.right-align * {text-align: right}
.pad-left{padding-left: 30px}
.list{list-style: none; display: block; font-size: 16px; line-height: 2em}
.list li li{display: inline-block; padding: 10px 10px; text-align: center}
.list li li i{
  color:#41cdce;
  font-size:18px;margin-right: 2px;
  width:26px !important;
  height:26px !important;
  line-height:26px;
  text-align:center;
}
i{ display: inline-block; vertical-align: middle; margin-right: 5px; font-size: 14px }
.col1 ul{list-style: none}
.col1 ul i{color: #41cdce}
.services{list-style: none; margin: 0; padding: 0}
.services li{display: inline-block; margin-right: 20px}
.services li a{display: block; padding:5px 10px; background: #0ead42; color: #fff; text-decoration: none}
.services li a:hover{background: #08aa91}
.btn{text-align: center; margin: 0 auto}
.btn a{display: inline-block; padding: 5px 10px;  color: #000;background: #41cdce;  text-decoration: none; border-radius: 5px 10px}
.btn a:hover{color: #fff;background: rgba(9, 173, 158, 0.65);}
/* back to top starts here*/
#scrl-top {
	position: fixed;
	bottom: 20px;
	right:20px;
	z-index:1500;
}
footer p{text-align: center;}
#scrl-top a {
	width: 64px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#scrl-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#scrl-top span {
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom: 7px;
	background: url(../images/top.png) no-repeat center center;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#scrl-top a:hover span {
	background: url(../images/top-hover.png) no-repeat center center;
}
/* back to top ends here*/
.rqst{max-width: 600px; margin: 20px auto}
.rqst input[type="text"], .rqst input[type="email"]{padding:10px;width: 90%}
.rqst label{display: block; padding: 5px 0px}
.rqst textarea{padding:10px;width:95%; height: 100px}
.rqst input[type="submit"], .rqst input[type="reset"]{ padding: 5px 10px; display: inline-block; cursor: pointer}
h2 span{color: #de3e13}
.msg-warning{color: #db0c32; font-weight: bold; font-size: 14px !important}
.table{display:inline-block;  border-collapse:collapse; font-weight:bold ; vertical-align: top; background: #fff}
.table td{max-width:400px; min-width:100px}
.table td, .table th{padding:10px; border:solid 1px #999}
.table th{background:#9c0000; color:#fff}
.prizes{margin: 0; padding:0; display: block; list-style: none; font-weight: bold; }
/* User login */
.tbl-login{margin:0 auto; display:block;width:400px; border:solid 1px #333; padding-top:30px}
.tbl-login td{padding:10px}
.tbl-login td span{display:inline-block; vertical-align:bottom; font-weight:bold; }
.tbl-login td input[type="text"],.tbl-login td input[type="password"]{padding:5px 10px ; width:200px; vertical-align:middle; display:inline-block}
.tbl-login td input[type="submit"]{border:none; background:#FF5050; color:#fff; padding:10px; cursor:pointer; width:100px }
.tbl-login td input[type="submit"]:hover{background:#CC0066}
/* Registration */
.food-wrap{display:block; margin-bottom:20px;}
.reg-wrap{display:inline-block}
.reg-frm input[type="submit"]:hover{background:#009999}
.reg-frm{display:block; position:relative; clear:both ; border:dotted 1px #333 }
.reg-frm h3{display:block; padding:5px 10px; background:#EBEBE0; color:#333; text-transform:uppercase; margin-top:10px; }
.reg-frm label, .reg-frm input[type="text"]{padding:10px; display:inline-block;}
.reg-frm select{padding:10px; width:100px;background:#FFE6F0; border:solid 1px #ccc}
.reg-frm input[type="text"]{width:200px; background:#FFE6F0; border:solid 1px #ccc}
.reg-frm input[type="text"]:focus{border:solid 1px #FF5050}
.reg-frm input[type="submit"]{display:inline-block; padding:10px; background:#333; color:#fff; text-decoration:none; border:none; cursor:pointer;}
.reg-frm input[type="submit"]:hover{background:#009999}
.compt-frm{display:block; position:relative; clear:both ; border:dotted 1px #333 ; padding:50px; width:50%; margin:0 auto }
.compt-frm h3{display:block; padding:5px 10px; background:#EBEBE0; color:#333; text-transform:uppercase; margin-top:10px; }
.compt-frm label, .compt-frm input[type="text"],.edit label{padding:10px; display:inline-block;}
.compt-frm label,.edit label {min-width:150px}
.compt-frm select, .edit select{padding:10px; background:#F5F5F0; border:solid 1px #ccc;
	height: 38px;
}
.compt-frm input[type="text"]{width:200px; background:#F5F5F0; border:solid 1px #ccc}
.compt-frm input[type="text"]:focus{border:solid 1px #FF5050}
/*.reg-frm input[type="submit"]::before{content:''; display:inline-block; width:100%}*/
.compt-frm input[type="submit"]{display:inline-block; padding:10px; background:#333; color:#fff; text-decoration:none; width:100px; border:none; cursor:pointer;}
.compt-frm input[type="submit"]:hover{background:#009999}
.btn-next{padding:10px; background:#009999 !important; color:#fff; border:none; cursor:pointer; text-transform:uppercase ; text-align:center; display:inline-block !important}
.btn-next:hover{background:#99CC00 !important}
.justify{display:block; position:relative; text-align:justify; padding-bottom:10px; border-bottom:solid 1px #ccc}
.justify div,.justify .btn{display:inline-block; vertical-align:middle}
.btn{margin-right:10px}
.justify::after{content:''; width:100%; display:inline-block}
.edit{display:block; position:relative; margin:20px 0px}
/* Grid */
.grd td{ padding:10px}
.prgm{display: block;}
.prgm h2{color: #0dbfc0;font-weight: bold;padding-bottom: 0;line-height: 24px;}
.prgm p{padding-top: 0;}
.prgm span{display: inline; padding: 0px 9px; font-size: 18px; color: #db0c32; vertical-align: middle}
/* 29th oct 2015 */
.lnkbtn{display:block; text-align:center}
.lnkbtn a{padding:10px; background:#009999; color:#fff; text-decoration:none; min-width:100px; display:inline-block; text-transform:uppercase; font-weight:bold}
.lnkbtn a:hover{background:#00CC66}
.nav-block{margin:0 auto; padding:0; display:block; text-align:center}
.nav-block ul{display:block; position:relative}
.nav-block ul li{display:inline-block; width:270px; height:100px; margin:10px; border-bottom:solid 5px #FF9900; 
 background:#990000; opacity:.7; z-index:90;  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;}
.nav-block ul li a{text-decoration:none; font-size:16px; color:#fff; text-transform:uppercase; display:block; padding:40px 10px}
.nav-block ul li:hover{background:#993366; color:#333}
.td-wrap img{display:block; height:170px;min-width:240px}
.td-wrap{width:240px; position:relative; display:inline-block; margin:10px 30px 10px 0px; border:solid 1px #555; overflow:hidden}
.caption-wrap{display:block; padding:10px 10px 0px 10px; color:#fff; position:absolute; bottom:0px; overflow:hidden; background:#000; opacity:0.7; right:0px; left:0px; }
.cat-name{display:block; position:relative; font-size:16px; text-align:center}
.count{display:block; text-align:center; position:relative}
.custom-head{display:block; padding:10px; background:#333; color:#fff; font-size:14px; text-transform:uppercase}
.custom-head span{margin-right:50px; display:inline-block;}
.custom-head span a{color:rgb(0, 204, 255)}
.custom-head span i{display:inline-block; margin-right:10px}
.title{display:block ; padding:5px 10px; color:#333 !important; font-size:16px; border:solid 1px #ccc}

@media screen and (max-width: 600px) {
    .logoimg img{width:100%;}
}